
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }

input(type='hidden', value= user._id)#userId



#account-form-container.center-vertical
	form(method="post")#account-form.form-horizontal.well
		h2
		h6#sub1 Please tell us a little about yourself.
		hr
		.form-group
			label.control-label.col-sm-3 Name
			.col-sm-9
				input.form-control#name-tf(type='text', name='name', value= user.name)

		.form-group
			label.control-label.col-sm-3 Email
			.col-sm-9
				input.form-control#email-tf(type='text', name='email', value= user.email)
			button(type='button' style="width:100% !important; margin-top: 20px;").eth-btn
				.eth-icon-wrapper
					img(style="max-width: 30px;").eth-icon-svg(src='https://upload.wikimedia.org/wikipedia/commons/0/05/Ethereum_logo_2014.svg')
					p.btn-text
						b Use address from Metamask
		.form-group
			label.control-label.col-sm-3 Ethereum
			.col-sm-9
				input.form-control#eth(type='text', name='eth', value= user.eth)

		.form-group
			label.control-label.col-sm-3 Location
		
		input#lat(type='hidden', name="lat", value= user.lat)
		input#lng(type='hidden', name="lng", value= user.lng)
		input#autocomplete(style="width: 100%", placeholder='Enter your address', onfocus='geolocate()', type='text', name="location", value= user.location)
		table#address
			tr
				td.label.black Street address
				td.slimField
					input#street_number.field(disabled='true')
				td.wideField(colspan='2')
					input#route.field(disabled='true')
			tr
				td.label.black City
				//
					Note: Selection of address components in this example is typical.
					You may need to adjust it for the locations relevant to your app. See
					https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
				td.wideField(colspan='3')
					input#locality.field(disabled='true')
			tr
				td.label.black State
				td.slimField
					input#administrative_area_level_1.field(disabled='true')
				td.label.black Zip code
				td.wideField
					input#postal_code.field(disabled='true')
			tr
				td.label.black Country
				td.wideField(colspan='3')
					input#country.field(disabled='true')
		hr
		h6#sub2
		.form-group
			label.control-label.col-sm-3 Username
			.col-sm-9
				input.form-control#user-tf(type='text', name='user', value= user.user).disabled

		.form-group
			label.control-label.col-sm-3 Password
			.col-sm-9
				input.form-control#pass-tf(type='password', name='pass', value='')

		hr
		.form-buttons
			button(type='button')#account-form-btn1.btn.btn-default
			button(type='submit')#account-form-btn2.btn.btn-primary

		.clearfix

// display form errors in a custom modal window //

include modals/form-errors
script(src="js/gl.js")
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD0adjUK4dr1XzlsK19hJbvG9d-3fvIjxU&libraries=places&callback=initAutocomplete', async='', defer='')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='js/ethereum-login-bundle.js')
script(src='/js/controllers/homeController.js')