
html
	head
		title 
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/profile.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css')
	body
		script(src="js/blockies.js")
		script(src="js/hqx.js")
		script.
			seed="0x441cbc78ef721e6504c2040ab14d5df0a561ab27";
			console.log(seed);
			var icon = document.createElement("div");
			icon.className = "icon";
			var image = document.createElement("img");
			image.src = blockies.create({ seed:seed ,size: 8,scale: 16}).toDataURL();
			//- icon.appendChild( image );
			document.getElementById("avatar").src = blockies.create({ seed:seed ,size: 8,scale: 16}).toDataURL();

