
extends layout

block content

	#login.center-vertical
		form.well(id='form-login', method='post')
			h3 Welcome to Flashnet
			h6 Please Login To Your Account
			.form-group
				label Username
				input.form-control(type='text', id='user-tf', name='user')
			.form-group
				label Password
				input.form-control(type='password', id='pass-tf', name='pass')
			.controls
				button(type='button').btn.btn-default.button-rememember-me
					span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
					| Remember Me
				button(type='submit' disabled).btn.btn-primary.button-sign-in
					span.glyphicon.glyphicon-lock
					| Sign In
				button(type='button' style="width:100% !important; margin-top: 20px;").eth-login
					.eth-icon-wrapper
						img(style="max-width: 30px;").eth-icon-svg(src='https://upload.wikimedia.org/wikipedia/commons/0/05/Ethereum_logo_2014.svg')
						p.btn-text
							b Sing in with Ethereum
			.clearfix
			hr
			.btm-links
				#create-account
					a(href='/signup') Create An Account
			.clearfix

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(src='js/ethereum-login-bundle.js')