			#buy.w3-half.w3-light-grey.w3-center(style='min-height:800px')
				#mapid.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom(style='width: 100%; height: 800px; position: relative;', tabindex='0')
					.leaflet-pane.leaflet-map-pane(style='transform: translate3d(0px, 0px, 0px);')
						.leaflet-pane.leaflet-tile-pane
							.leaflet-layer(style='z-index: 1; opacity: 1;')
								.leaflet-tile-container.leaflet-zoom-animated(style='z-index: 18; transform: translate3d(0px, 0px, 0px) scale(1);')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4093/2723.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(56px, -91px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4094/2723.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(312px, -91px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4093/2724.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(56px, 165px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4094/2724.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(312px, 165px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4092/2723.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(-200px, -91px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4095/2723.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(568px, -91px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4092/2724.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(-200px, 165px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4095/2724.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(568px, 165px, 0px); opacity: 1;')
						.leaflet-pane.leaflet-shadow-pane
							img.leaflet-marker-shadow.leaflet-zoom-animated(src='https://unpkg.com/leaflet@1.3.3/dist/images/marker-shadow.png', alt='', style='margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(300px, 247px, 0px);')
						.leaflet-pane.leaflet-overlay-pane
							svg.leaflet-zoom-animated(pointer-events='none', width='720', height='480', viewbox='-60 -40 720 480', style='transform: translate3d(-60px, -40px, 0px);')
								g
									path.leaflet-interactive(stroke='red', stroke-opacity='1', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', fill='#f03', fill-opacity='0.5', fill-rule='evenodd', d='M141.20355555554852,171.94704600190744a42,42 0 1,0 84,0 a42,42 0 1,0 -84,0 ')
									path.leaflet-interactive(stroke='#3388ff', stroke-opacity='1', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', fill='#3388ff', fill-opacity='0.2', fill-rule='evenodd', d='M358 163L474 219L550 153z')
						.leaflet-pane.leaflet-marker-pane
							img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive(src='https://unpkg.com/leaflet@1.3.3/dist/images/marker-icon.png', alt='', tabindex='0', style='margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(300px, 247px, 0px); z-index: 247;')
						.leaflet-pane.leaflet-tooltip-pane
						.leaflet-pane.leaflet-popup-pane
							.leaflet-popup.leaflet-zoom-animated(style='opacity: 1; transform: translate3d(301px, 213px, 0px); bottom: -7px; left: -57px;')
								.leaflet-popup-content-wrapper
									.leaflet-popup-content(style='width: 74px;')
										b Hello world!
										br
										| I am a popup.
								.leaflet-popup-tip-container
									.leaflet-popup-tip
								a.leaflet-popup-close-button(href='#close') ×
						.leaflet-proxy.leaflet-zoom-animated(style='transform: translate3d(1.04805e+06px, 697379px, 0px) scale(4096);')
					.leaflet-control-container
						.leaflet-top.leaflet-left
							.leaflet-control-zoom.leaflet-bar.leaflet-control
								a.leaflet-control-zoom-in(href='#', title='Zoom in', role='button', aria-label='Zoom in') +
								a.leaflet-control-zoom-out(href='#', title='Zoom out', role='button', aria-label='Zoom out') −
						.leaflet-top.leaflet-right
						.leaflet-bottom.leaflet-left
						.leaflet-bottom.leaflet-right
							.leaflet-control-attribution.leaflet-control
								a(href='http://leafletjs.com', title='A JS library for interactive maps') Leaflet
								|  | Map data ©
								a(href='https://www.openstreetmap.org/') OpenStreetMap
								|  contributors,
								a(href='https://creativecommons.org/licenses/by-sa/2.0/') CC-BY-SA
								| , Imagery ©
								a(href='https://www.mapbox.com/') Mapbox
				script.
					var mymap = L.map('mapid').setView([51.505, -0.09], 13);
					L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
					maxZoom: 18,
					attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
					'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
					'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
					id: 'mapbox.streets'
					}).addTo(mymap);
					L.marker([51.5, -0.09]).addTo(mymap)
					.bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();
					L.circle([51.508, -0.11], 500, {
					color: 'red',
					fillColor: '#f03',
					fillOpacity: 0.5
					}).addTo(mymap).bindPopup("I am a circle.");
					L.polygon([
					[51.509, -0.08],
					[51.503, -0.06],
					[51.51, -0.047]
					]).addTo(mymap).bindPopup("I am a polygon.");
					var popup = L.popup();
					function onMapClick(e) {
					popup
					.setLatLng(e.latlng)
					.setContent("You clicked the map at " + e.latlng.toString())
					.openOn(mymap);
					}
					mymap.on('click', onMapClick);
			