doctype html

html
	title Flashnet ETH
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
	link(rel='stylesheet', href='/css/profile.css')
	link(rel="shortcut icon", href="favicon.png", type="image/png")
	link(rel='shortcut icon', type='image/x-icon', href='docs/images/favicon.ico')
	link(rel='stylesheet', href='/css/metamask.css')
	link(rel='stylesheet', href='/css/sliders.css')
	link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.3/dist/leaflet.css', integrity='sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==', crossorigin='')
	script(src='https://unpkg.com/leaflet@1.3.3/dist/leaflet.js', integrity='sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==', crossorigin='')
	body.w3-content(style='max-width:1300px')
		// First Grid: Logo & About
		.w3-row
			.w3-half.w3-black.w3-container.w3-center(style='height:700px')
				div(style="margin-top: 60px;")
					h1 FLASHNET v.0.0.2
					img(src="img/logo.png", alt="", style="height:128px")
				.w3-padding-64
					a.w3-button.w3-black.w3-block.w3-hover-blue-grey.w3-padding-16(href='/home') Setting
					a.w3-button.w3-black.w3-block.w3-hover-teal.w3-padding-16(href='#buy') Buy electricity
					a.w3-button.w3-black.w3-block.w3-hover-dark-grey.w3-padding-16(href='#sell') Sell electricity
					button#logout.w3-button.w3-black.w3-block.w3-hover-brown.w3-padding-16(onlick='attemptLogout') Log Out
			.w3-half.w3-black.w3-container(style='height:700px')
				.w3-padding-64.w3-center
					h1= user.name
					img.w3-margin.w3-circle#avatar(src='/w3images/avatar3.png', alt='Person', style='height: 128px;')
					.w3-container
						h3= user.eth
						p
						.st-container(style="border: 1px solid white;")
							.w3-container.w3-center.w3-padding.w3-green(style='') #{user.battery} kWh
							button#testSource.w3-button.w3-black.w3-block.w3-hover-brown.w3-padding-16 Set Test Source
						p On sale
						.w3-grey
							.w3-container.w3-center.w3-padding.w3-red(style='width:#{80}%') #{user.onsale} kWh
						p Purchased
						.w3-grey 
							.w3-container.w3-center.w3-padding.w3-blue(style='width:#{80}%') #{user.purchased} kWh

		.w3-row
			#buy.w3-half.w3-light-grey.w3-center(style='min-height:800px')
				#mapid.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom(style='width: 100%; height: 800px; position: relative;', tabindex='0')
					.leaflet-pane.leaflet-map-pane(style='transform: translate3d(0px, 0px, 0px);')
						.leaflet-pane.leaflet-tile-pane
							.leaflet-layer(style='z-index: 1; opacity: 1;')
								.leaflet-tile-container.leaflet-zoom-animated(style='z-index: 18; transform: translate3d(0px, 0px, 0px) scale(1);')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4093/2723.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(56px, -91px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4094/2723.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(312px, -91px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4093/2724.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(56px, 165px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4094/2724.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(312px, 165px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4092/2723.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(-200px, -91px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4095/2723.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(568px, -91px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4092/2724.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(-200px, 165px, 0px); opacity: 1;')
									img.leaflet-tile.leaflet-tile-loaded(alt='', role='presentation', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4095/2724.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', style='width: 256px; height: 256px; transform: translate3d(568px, 165px, 0px); opacity: 1;')
								.leaflet-popup-tip-container
									.leaflet-popup-tip
								a.leaflet-popup-close-button(href='#close') ×
						.leaflet-proxy.leaflet-zoom-animated(style='transform: translate3d(1.04805e+06px, 697379px, 0px) scale(4096);')
				script.
					var mymap = L.map('mapid').setView(["#{user.lat}", "#{user.lng}"], 13);
					L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
					maxZoom: 18,
					id: 'mapbox.streets'
					}).addTo(mymap);
					fetch('/getContacts').then(
						function(response) {
							response.json().then(function(data) {
								var circles = [];
								var markers = [];

								var greenIcon = new L.Icon({
									iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
									shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
									iconSize: [25, 41],
									iconAnchor: [12, 41],
									popupAnchor: [1, -34],
									shadowSize: [41, 41]
									});

								L.marker(["#{user.lat}", "#{user.lng}"], {icon: greenIcon}).addTo(mymap).bindPopup('Your Address').openPopup();
    
								for(var i = data.length -1; i >= 0; i--) {
									console.log(data[i]);
									L.marker([data[i].lat, data[i].lng]).addTo(mymap)
									
									L.circle([data[i].lat, data[i].lng], data[i].area, {
									color: 'blue',
									fillColor: '#4286f4',
									fillOpacity: 0.5
									}).addTo(mymap).bindPopup("<b>"+ data[i].price+" ETH/kWh</b><br /> " + data[i].location + "<br><b>Capacity: "+ data[i].quan+" kWh</b><br /> ")
								}
								});
							}
						)


			.w3-half.w3-indigo.w3-container(style='min-height:800px')
				.w3-padding-64.w3-center
					h2 Buy electricity
					p Users deployed these contacts
					.w3-container.w3-responsive
						table.w3-table
							thead
								tr
									th Email
									th Quantity
									th Price
									th Address
									th
							tbody
								if !!contracts
									each c, i in contracts
										tr(class=i % 2 == 0 ? '' : 'w3-white')
											td 
												a(href='mailto:' + c.email)= c.email
											td= c.quan
											td= c.price
											td= c.location
											td
												if (c.owner != user._id) 
													button.buy-btn.w3-button.w3-teal.w3-right(type='button', data-id=c._id) Buy
												else
													button.del-btn.w3-button.w3-red.w3-right(type='button', data-id=c._id) Clear

		#sell.w3-row
			.w3-half.w3-white.w3-container.w3-center(style='height:700px')
				.flex-column.full-height#metamask(data-reactroot='', style='position: fixed; overflow: hidden; align-items: center; width:400px; height: 800px; top:20px; left:30px; z-index:999999990000; background:white; display: none;')
					.menu-droppo-container(style='position: absolute; left: 2px; top: 36px; z-index: 11;')
						style.
							.menu-droppo-enter {
							transition: transform 300ms ease-in-out;
							transform: translateY(-200%);
							}
							.menu-droppo-enter.menu-droppo-enter-active {
							transition: transform 300ms ease-in-out;
							transform: translateY(0%);
							}
							.menu-droppo-leave {
							transition: transform 300ms ease-in-out;
							transform: translateY(0%);
							}
							.menu-droppo-leave.menu-droppo-leave-active {
							transition: transform 300ms ease-in-out;
							transform: translateY(-200%);
							}
						span.css-transition-group
					.menu-droppo-container(style='position: absolute; right: 2px; top: 38px; z-index: 11;')
						style.
							.menu-droppo-enter {
							transition: transform 300ms ease-in-out;
							transform: translateY(-200%);
							}
							.menu-droppo-enter.menu-droppo-enter-active {
							transition: transform 300ms ease-in-out;
							transform: translateY(0%);
							}
							.menu-droppo-leave {
							transition: transform 300ms ease-in-out;
							transform: translateY(0%);
							}
							.menu-droppo-leave.menu-droppo-leave-active {
							transition: transform 300ms ease-in-out;
							transform: translateY(-200%);
							}
						span.css-transition-group
					// react-empty: 8
					.app-primary.from-right(style='width: 100%;')
						.flex-column.flex-grow
							// react-empty: 11
							.section-title.flex-row.flex-center
								h2.page-subtitle Confirm Transaction
								#network_component(title='Unknown Private Network')
									.network-indicator
										i.fa.fa-question-circle.fa-lg(style='margin: 10px; color: rgb(125, 128, 130);')
										.network-name(style='color: rgb(174, 174, 174);') Private Network
							h3(style='align-self: center; display: none;')
								i.fa.fa-arrow-left.fa-lg.cursor-pointer(style='display: none;')
								// react-text: 20
								| 1 of 1
								// /react-text
								i.fa.fa-arrow-right.fa-lg.cursor-pointer(style='display: none;')
							div
								form#pending-tx-form
									div
										.flex-row.flex-center(style='max-width: 100%;')
											.identity-panel.flex-row.flex-left
												.identicon-wrapper.flex-column.select-none(style='order: 3;')
													div(style='display: flex; align-items: center; justify-content: center; height: 46px; width: 46px; border-radius: 23px; overflow: hidden;')
														div(style='border-radius: 50px; overflow: hidden; padding: 0px; margin: 0px; width: 46px; height: 46px; display: inline-block;')
															svg(height='100', version='1.1', width='100', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='overflow: hidden; position: relative;')
																desc(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);') Created with Raphaël 2.2.0
																defs(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
																rect(x='0', y='0', width='46', height='46', rx='0', ry='0', fill='#03405e', stroke='none', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
																rect(x='0', y='0', width='46', height='46', rx='0', ry='0', fill='#1872f2', stroke='none', transform='matrix(0.957,-0.2901,0.2901,0.957,7.1519,1.1764)', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
																rect(x='0', y='0', width='46', height='46', rx='0', ry='0', fill='#c8142c', stroke='none', transform='matrix(0.4532,-0.8914,0.8914,0.4532,-33.4204,26.6143)', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
																rect(x='0', y='0', width='46', height='46', rx='0', ry='0', fill='#faa200', stroke='none', transform='matrix(0.7918,-0.6108,0.6108,0.7918,-48.4648,14.9151)', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
												.flex-column.flex-justify-center(style='line-height: 15px; order: 2; display: flex; align-items: flex-end;')
													span.font-small(style='font-family: "Montserrat Bold", Montserrat, sans-serif;') Account 6
													span(style='cursor: pointer;')
														span.font-small(style='font-family: "Montserrat Light", Montserrat, sans-serif;') #{user.eth}
													span.font-small(style='font-family: "Montserrat Light", Montserrat, sans-serif;')
														.ether-balance.ether-balance-amount
															div(style='display: inline;')
																.flex-column
																	.flex-row(style='align-items: flex-end; line-height: 13px; font-family: "Montserrat Light"; text-rendering: geometricPrecision;')
																		div(style='width: 100%; text-align: right;') 100.000
																		div(style='color: rgb(174, 174, 174); font-size: 12px; margin-left: 5px;') ETH
																	.flex-row(style='align-items: flex-end; line-height: 13px; font-family: "Montserrat Light"; text-rendering: geometricPrecision;')
																		div(style='width: 100%; text-align: right; font-size: 12px; color: rgb(51, 51, 51);') 46514.00
																		div(style='color: rgb(174, 174, 174); margin-left: 5px; font-size: 12px;') USD
											.identity-panel.flex-row.flex-left
												.identicon-wrapper.flex-column.select-none(style='order: 1;')
													i.fa.fa-file-text-o.fa-lg(style='font-size: 42px; transform: translate(0px, -16px);')
												.flex-column.flex-justify-center(style='line-height: 15px; order: 2; display: flex;')
													span.font-small(style='font-family: "Montserrat Bold", Montserrat, sans-serif;') New Contract
										style.
											.table-box {
											margin: 7px 0px 0px 0px;
											width: 100%;
											}
											.table-box .row {
											margin: 0px;
											background: rgb(236,236,236);
											display: flex;
											justify-content: space-between;
											font-family: Montserrat Light, sans-serif;
											font-size: 13px;
											padding: 5px 25px;
											}
											.table-box .row .value {
											font-family: Montserrat Regular;
											}
										.table-box
											.row
												.cell.label Amount
												.ether-balance.ether-balance-amount
													div(style='display: inline;')
														.flex-column
															.flex-row(style='align-items: flex-end; line-height: 13px; font-family: "Montserrat Light"; text-rendering: geometricPrecision;')
																div(style='width: 100%; text-align: right;') 0
																div(style='color: rgb(174, 174, 174); font-size: 12px; margin-left: 5px;') ETH
															.flex-row(style='align-items: flex-end; line-height: 13px; font-family: "Montserrat Light"; text-rendering: geometricPrecision;')
																div(style='width: 100%; text-align: right; font-size: 12px; color: rgb(51, 51, 51);') 0.00
																div(style='color: rgb(174, 174, 174); margin-left: 5px; font-size: 12px;') USD
											.cell.row
												.cell.label Gas Limit
												.cell.value
													.flex-column
														.flex-row(style='align-items: flex-end; line-height: 13px; font-family: "Montserrat Light"; text-rendering: geometricPrecision;')
															input.hex-input(type='number', step='any', min='21000', max='6654755', required='', value='605107', style='display: block; text-align: right; background-color: transparent; border: 1px solid rgb(189, 189, 189); position: relative; top: 5px;')
															div(style='color: rgb(174, 174, 174); font-size: 12px; margin-left: 5px; margin-right: 6px; width: 20px;') UNITS
											.cell.row
												.cell.label Gas Price
												.cell.value
													.flex-column
														.flex-row(style='align-items: flex-end; line-height: 13px; font-family: "Montserrat Light"; text-rendering: geometricPrecision;')
															input#gas-price.hex-input(type='number', step='any', min='0', required='', value='1', style='display: block; text-align: right; background-color: transparent; border: 1px solid rgb(189, 189, 189); position: relative; top: 5px;')
															div(style='color: rgb(174, 174, 174); font-size: 12px; margin-left: 5px; margin-right: 6px; width: 20px;') GWEI
											.cell.row
												.cell.label Max Transaction Fee
												.ether-balance.ether-balance-amount
													div(style='display: inline;')
														.flex-column
															.flex-row(style='align-items: flex-end; line-height: 13px; font-family: "Montserrat Light"; text-rendering: geometricPrecision;')
																div.output-fee1(style='width: 100%; text-align: right;') 0.000605
																div(style='color: rgb(174, 174, 174); font-size: 12px; margin-left: 5px;') ETH
															.flex-row(style='align-items: flex-end; line-height: 13px; font-family: "Montserrat Light"; text-rendering: geometricPrecision;')
																div.output-fee2(style='width: 100%; text-align: right; font-size: 12px; color: rgb(51, 51, 51);') 0.28
																div(style='color: rgb(174, 174, 174); margin-left: 5px; font-size: 12px;') USD
											.cell.row(style='font-family: "Montserrat Regular"; background: white; padding: 10px 25px;')
												.cell.label Max Total
												.cell.value(style='display: flex; align-items: center;')
													.ether-balance.ether-balance-amount
														div(style='display: inline;')
															.flex-column
																.flex-row(style='align-items: flex-end; line-height: 13px; font-family: "Montserrat Light"; text-rendering: geometricPrecision;')
																	div.output-fee1(style='width: 100%; text-align: right;') 0.000605
																	div(style='color: rgb(174, 174, 174); font-size: 12px; margin-left: 5px;') ETH
																.flex-row(style='align-items: flex-end; line-height: 13px; font-family: "Montserrat Light"; text-rendering: geometricPrecision;')
																	div.output-fee2(style='width: 100%; text-align: right; font-size: 12px; color: rgb(51, 51, 51);') 0.28
																	div(style='color: rgb(174, 174, 174); margin-left: 5px; font-size: 12px;') USD
											.cell.row(style='background: rgb(247, 247, 247); padding-bottom: 0px;')
												.cell.label
												.cell.value(style='font-family: "Montserrat Light"; font-size: 11px;') Data included: 2172 bytes
									style.
										.conf-buttons button {
										margin-left: 10px;
										text-transform: uppercase;
										}
									.cell.row(style='text-align: center;')
									.flex-row.flex-space-around.conf-buttons(style='display: flex; justify-content: flex-end; margin: 14px 25px;')
										button Reset
										input#create-contract-btn.confirm.btn-green(type='submit', value='SUBMIT', style='margin-left: 10px;')
										button.cancel.btn-red Reject
			.w3-half.w3-teal.w3-container(style='height:700px')
				.w3-padding-64.w3-padding-large
					h1 One Click Contact Deploy 
					p.w3-opacity Sell your electricity
					form#contract-form.w3-container.w3-card.w3-padding-32.w3-white(action='/action_page.php', target='_blank')
						input(type='hidden', name="lat", value=user.lat)
						input(type='hidden', name="lng", value=user.lng)
						input(type='hidden', name="email", value=user.email)
						input(type='hidden', name="location", value=user.location)
						.w3-section
							label Price (ETH / per kWh)
							input#price.slider(name="price", type='range', min='1', max='100', value='50')
							#price-output 0.005
						.w3-section
							label Quantity
							input#quan.slider(name="quan", type='range', min='5', max=user.battery, value='20')
							#quan-output 5
						.w3-section
							label Area
							input#area.slider(name="area", type='range', min='1', max='20000', value='20')
							#area-output 20
						button#createContact-btn.w3-button.w3-teal.w3-right(type='button') Create

		footer.w3-container.w3-black.w3-padding-16
			p
				| Powered by 
				a(href='xbay.io', target='_blank') Champions
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
			script(src='js/controllers/homeController.js')
			script(src="js/blockies.js")
			script(src="js/hqx.js")
			script.
				$('#testSource').click(function() {
					$.post('/testSouce', {id: "#{user._id}"}).done(function(){
						location.reload();
					})
				})
				$("#gas-price").change(function(){
					console.log('asdasd')
					$(".output-fee1").html(0.000605*$("#gas-price").val())
					$(".output-fee2").html(0.28*$("#gas-price").val())
				});
				$("#create-contract-btn").click(function() {
					$.post('/createc', $("#contract-form").serialize()).done(function(){
						location.href = "/profile#buy"
					})
				})
				$('#createContact-btn').click(function() {
					$("#metamask").show()
				})
				$('#price').change(function(){
					$('#price-output').html('0.00' + $(this).val())
				})
				$('#quan').change(function(){
					$('#quan-output').html($(this).val())
				})
				$('#area').change(function(){
					$('#area-output').html($(this).val())
				});
				$(".del-btn").click(function(){
					var $btn = $(this)
					var data = {user: "#{user._id}", id: $btn.attr("data-id")};
					console.log("del", data)
					$.post('/del', data).done(function(){
						location.reload()
					})
					
				});

				$(".buy-btn").click(function(){
					$("#metamask").show();
					var $btn = $(this)
					$("#create-contract-btn").click(function(){
						
						var data = {user: "#{user._id}", id: $btn.attr("data-id")};
						console.log("buy", data)

						$.post('/buy', data).done(function(){
							location.reload()
						})
					})

					
				});

				$('#logout').click(function()	{
					console.log('btn-logout');
					var that = this;
					$.ajax({
						url: "/logout",
						type: "POST",
						data: {logout : true},
						success: function(data){
							// that.showLockedAlert('You are now logged out.<br>Redirecting you back to the homepage.');
							window.location.href = '/';
						},
						error: function(jqXHR){
							console.log(jqXHR.responseText+' :: '+jqXHR.statusText);
						}
					});
				})
			script.
				seed="#{user.eth}";
				console.log(seed);
				var icon = document.createElement("div");
				icon.className = "icon";
				var image = document.createElement("img");
				image.src = blockies.create({ seed:seed, size: 8, scale: 16}).toDataURL();
				//- icon.appendChild( image );
				document.getElementById("avatar").src = blockies.create({ seed:seed ,size: 8,scale: 16}).toDataURL();