
raiseText()
	color grey
	text-shadow  -1px 1px 0 white
	-moz-text-shadow  -1px 1px 0 white
	-webkit-text-shadow  -1px 1px 0 white

body 
	margin  0
	padding  0
	height  100%
	background rgb(242,249,254)
	background -moz-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%) /* FF3.6+ */
	background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))) /* Chrome,Safari4+ */
	background -webkit-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* Chrome10+,Safari5.1+ */
	background -o-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* Opera 12+ */
	background -ms-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* IE10+ */
	background radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* W3C */

h2{
	margin: 0 0 6px 0;
	font-weight: bold; 
}

h6{
	margin: 2px 0 20px 0;
}

hr{
	margin 14px 0
	border-top: 1px solid rgb(238, 238, 238);
	border-bottom: 1px solid rgb(255, 255, 255);
}

ul{
	margin: 4px 0 0 0;
}

label, h6 {
	color: #808080;
	font-size: 13px;
	font-weight: normal;
	text-shadow: -1px 1px 0 #fff;
}

.well{
	background: #f8f8f8;
	.tab-title{
		float:left;
		margin-left: 10px;
	}
	.button-top-right{
		float:right;
		margin: 0 10px 20px 0;
	}
	margin-bottom 0;
}
.black {
	color: black;
}
.navbar-btn{
	min-width: 100px
	margin-right: 8px;
	.btn{
		min-width: 100px
	}
}

.glyphicon{
	margin-right: 8px;
}

/*
	login window
*/

#login{
	label{
		margin-left: 2px;
	}
	form{
		width:320px;
	}
	.controls{
		margin-top: 20px;
		.button-rememember-me{
			float: left;
			width: 150px;
		}
		.button-sign-in{
			float: right;
			width: 120px;
		}
	}
	.btm-links{
		font-size: .9em;
		margin 2px 0 0 0
		#forgot-password{
			float left
			margin-left 10px;
		}
		#create-account{
			float right
			margin-right 5px;
		}
	}
}

#account-form-container{
	form{
		width:600px;
	}
}

/*
	modal windows
*/

.modal{
	.modal-dialog{
		width:480px;
	}
	.form-group{
		margin-bottom: 0px;
	}
	.alert{
		margin-top 10px;
		margin-bottom: 0
		padding 8px 15px 8px 15px
	}
	.alert-dismissable, .close{
		right -4px;
	}
	p{
		margin:0;
		padding:0;
	}
	.modal-footer{
		button{
			width:80px;
		}
	}
}
.st-container {
	border: 1px solid white;
}
.center-vertical{
	height:100vh;
	form{
		margin:auto;
		position: relative;
	}
}

.form-horizontal{
	.form-buttons{
		float right;
		.btn{
			width 80px
			margin-left 6px
		}
	}
	input, select{
		height 30px
	}
}

		
